<div>
    <div class="c-detail__block">
        <dp-glossary-header
            heading="{{vm.apiData.results._display}}"
            definition="OPLAADPUNT">
        </dp-glossary-header>

        <dl class="c-key-value-list">
            <dt>Adres</dt>
            <dd>
                {{ vm.apiData.results.street }}
                {{ vm.apiData.results.housenumber + vm.apiData.results.housenumberext + ',' }}
                {{ vm.apiData.results.city }}
            </dd>
            <dt>Aantal</dt>
            <dd>{{ vm.apiData.results.charging_point }}</dd>
            <dt>Soort</dt>
            <dd>{{ (vm.apiData.results.charging_cap_max >= 22) ? 'Snelllaadpunt' : 'Gewoon laadpunt' }}</dd>
            <dt>Capaciteit</dt>
            <dd>{{ vm.apiData.results.charging_capability }}</dd>
            <dt>Connectortype</dt>
            <dd>{{ vm.apiData.results.connector_type }}</dd>
        </dl>
    </div>
</div>
