## Ignore everything by default
*


## Allow specific files and folders
!.babelrc
!.browserslistrc
!*.conf
!favicon.png
!index.ejs
!modules/
!package*
!public/
!scripts/
!sitemap-generator/
!src/
!tsconfig.*
!webpack.*
