.leaflet-marker-icon.leaflet-editing-icon {
  // edit anchor
  cursor: grab;
}

.leaflet-marker-icon.o-highlight-cluster {
  // cluster icon
  cursor: zoom-in;
}

.leaflet-pane > svg path.leaflet-interactive {
  // selection on map
  cursor: url("assets/images/cursor-edit.cur") 3 19, pointer;
}

// @todo remove this dependency to fill color for save cursor
.leaflet-pane > svg path.leaflet-interactive[fill="#fe57a1"] {
  // selection on map in edit mode
  cursor: url("assets/images/cursor-save.cur") 10 10, pointer;
}

.leaflet-pane.leaflet-marker-pane > img {
  // pano popje
  cursor: default;
}

.leaflet-dragging {
  .leaflet-grab {
    // dragging the map
    cursor: move;
  }

  .leaflet-marker-icon.leaflet-editing-icon {
    // edit anchor while dragging the map
    cursor: grabbing;
  }

  .leaflet-marker-icon.o-highlight-cluster {
    // cluster icon while dragging the map
    cursor: move;
  }

  .leaflet-pane > svg path.leaflet-interactive {
    // selection map while dragging the map
    cursor: move;
  }

  .leaflet-pane.leaflet-marker-pane > img {
    // pano popje while dragging the map
    cursor: move;
  }
}

