.leaflet-marker-icon {
  // edit anchor
  &.leaflet-editing-icon {
    cursor: grab;
  }

  // cluster icon
  &.o-highlight-cluster {
    cursor: zoom-in;
  }
}

.leaflet-pane {
  > svg {
    // selection on map
    .leaflet-interactive {
      cursor: url("assets/images/cursor-edit.cur") 3 19, pointer;

      // selection on map in edit mode
      // @todo fix dependency on fill color to detect editing of the polygon
      &[fill="#fe57a1"] {
        cursor: url("assets/images/cursor-save.cur") 10 10, pointer;
      }
    }
  }

  // pano popje
  .leaflet-marker-pane > img {
    cursor: default;
  }
}

.leaflet-dragging {

  // dragging the map
  .leaflet-grab {
    cursor: move;
  }

  .leaflet-marker-icon {
    // edit anchor while dragging the map
    &.leaflet-editing-icon {
      cursor: grabbing;
    }

    // cluster icon while dragging the map
    &.o-highlight-cluster {
      cursor: move;
    }
  }

  // selection map while dragging the map
  .leaflet-pane {
    > svg {
      .leaflet-interactive {
        cursor: move;
      }
    }

    // pano popje while dragging the map
    &.leaflet-marker-pane > img {
      cursor: move;
    }
  }
}

